@use '../variables' as *;
@use '../functions' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: $white-smoke;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

.cards-grid {
    display: grid;
    gap: 8px;
}

.wrap {
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    min-width: 320px;
}